// Custom Grid

#accordion,
.accordion {
	min-width: 100%;
	.card {
		margin-bottom: 30px;
		border: none;
		box-shadow: 0;
		@include transition(all 0.4s ease-in-out);
		&:hover {
      box-shadow: $shadow;
      @include transition(all 0.4s ease-in-out);
			border: none;
    }
		.card-header {
			background: $grey;
			border: none;
			border-radius: $curved;
			padding-top: 0;
    	padding-bottom: 0;
			h1, h2, h3, h4, h5, h6 {
				margin: 0;
				button {
					&.btn, &.btn-link {
						box-shadow: none;
						font-size: 1.2rem;
						padding-top: 0.5rem;
    				padding-bottom: 0.5rem;
						&:hover, &:focus {
							text-decoration: none;
						}
					}
					&.btn-link {
						color: $primary;
					}
				}
			}
		}
	}
}
