.creative-bg {
  background-image: url(../images/index/body-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.dark-bg {
  background-color: $dark;
}

.white-bg {
  background-color: $white;
}

.light-bg {
  background: $light;
}

.primary-bg {
  background: $primary;
}

.secondary-bg {
  background: $secondary;
}

section {
  .waves-top {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .waves-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
