// Blog

.post-link a {
  display: block;
  background: $gradient;
  padding: 45px 40px;
  color: $white;
  border-radius: $curved;
  box-shadow: $shadow;
	@include transition(all 0.4s ease-in-out);
  .post-link-text {
  	font-family: $heading-family;
    font-weight: $bold;
  	font-size: $body-size * 1.2;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &:hover {
    box-shadow: $shadow-hover;
  	@include transition(all 0.4s ease-in-out);
    .post-link-text {
    	color: $white;
    }
  }
}

.post {
	margin-bottom: 65px;
	padding-bottom: 65px;
	border-bottom: 1px solid $grey;
  .post-title h4,
  .post-related-title h4 {
    color: $heading-color;
    padding: 0;
    margin: 30px 0 0 0;
  	@include transition(all 0.4s ease-in-out);
    &:hover {
      color: $primary;
    }
  }
  .post-meta {
  	display: inline-block;
    font-size: 0.9rem;
  	margin-bottom: 0px;
    margin-top: 1rem;
    border: none;
    color: #9f9f9f;
  	font-family: $heading-family;
    span {
    	margin-right: 5px;
      &:after {
      	content:"\f111";
      	margin-left: 5px;
        font-family: "Font Awesome 5 Free";
        color: $primary;
        vertical-align: middle;
        font-size: 0.4rem;
      }
      &:last-child::after {
      	content: none;
      }
    }
  }
  .post-image {
  	margin-bottom: 40px;
    overflow: hidden;
    border-radius: $curved;
    img {
    	min-width: 100%;
      @include transform(scale(1.0));
      @include transition(all 1.5s ease-in-out);
    }
    &:hover {
      img {
        @include transform(scale(1.2));
        @include transition(all 1s ease-in-out);
      }
    }
  }
}

/* Related */

.related-posts {
	margin-top: 65px;
  img {
    border-radius: $curved;
  }
}

h2.related-title {
	font-size: $body-size;
	color: $dark;
	padding: 0;
  margin: 0 0 45px 0;
	letter-spacing: 0.1em;
	@include transition(all 0.4s ease-in-out);
}

.post-related-title {
	margin-bottom: 20px;
}

.post-related {
	margin-bottom: 30px;
	padding: 0;
}

/* Author Box */

.author-box {
	display: block;
	position: relative;
	margin-bottom: 65px;
	border: 1px solid $grey;
  border-radius: $curved;
  padding: 30px;
}

.author-img {
	display: inline-block;
	position: relative;
	float: left;
	width: 15%;
}

.author-img img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

.author-content {
	display: inline-block;
	position: relative;
	float: left;
	width: 85%;
}

.author-content h3 {
	font-size: $body-size;
	color: $dark;
	letter-spacing: 0.1em;
}
