// Breadcrumbs

#breadcrumb {
	padding-top: 230px;
	padding-bottom: 100px;
	overflow: hidden;
  .breadcrumb-title {
    display: block;
    color: $heading-color;
    margin-bottom: 30px;
    margin-top: 0px;
    line-height: 1;
  }
  .breadcrumb-line {
  	width: 30px;
    height: 5px;
    background: $heading-color;
    margin: 15px auto 10px auto;
    display: block;
  }
  &.text-white {
    .breadcrumb-line {
      background: $white;
    }
    .breadcrumb-title {
      color: $white;
    }
  }
}
