// Cards

.card {
  position: relative;
  display: block;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 1px solid $grey;
  border-radius: $curved;
}
