// Grids

@keyframes morph {
	0% {
		border-radius: 42% 58% 70% 30% / 45% 23% 55% 35%;
	}

	100% {
		border-radius: 2% 68% 68% 68% / 35% 50% 22% 35%;
	}
}

.works-grid--2cols {
	.work-item {
		width: calc(50% - 15px);
	}
}
.works-grid--3cols {
	.work-item {
		width: calc(33.33% - 20px);
	}
}
.works-grid--4cols {
	.work-item {
		width: calc(25% - 22.5px);
	}
}

[class*='works-grid'] {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .work-item {
    height: auto;
    margin-bottom: 30px;
    border-radius: $curved;
    overflow: hidden;
    .work-container {
      overflow: hidden;
      display:block;
      position:relative;
      img {
        @include transform(scale(1.0));
        @include transition(all 1.5s ease-in-out);
        width: 100%;
        height: auto;
        position:relative;
      }
      .work-mask {
        margin: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255, .95);
        @include transform(scale(0.0));
        border-radius: $curved;
        vertical-align: middle;
        .work-details {
          position: absolute;
          display: block;
          width: 100%;
          text-align: center;
          margin-top: -24px;
          top: 50%;
          left: 0;
          padding: 0 15px;
        }
        .work-title {
          margin: 0 0 10px 0;
					font-weight: $bold;
        }
      }
    }
    &:hover {
      img {
        @include transform(scale(1.2));
        @include transition(all 1s ease-in-out);
      }
      .work-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255, .9);
        @include transform(scale(1.0));
      }
    }
  }
}

.works-carousel-style-2 {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .work-item {
    height: auto;
    margin-bottom: 30px;
    border-radius: $curved;
    overflow: hidden;
    .work-container {
      overflow: hidden;
      display:block;
      position:relative;
      img {
        @include transform(scale(1.0));
        @include transition(all 1.5s ease-in-out);
        width: 100%;
        height: auto;
        position:relative;
      }
      .work-mask {
        margin: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255, .95);
        @include transform(scale(0.0));
        border-radius: $curved;
        vertical-align: middle;
        .work-details {
          position: absolute;
          display: block;
          width: 100%;
          text-align: center;
          margin-top: -24px;
          top: 50%;
          left: 0;
          padding: 0 15px;
        }
        .work-title {
          margin: 0 0 10px 0;
					font-weight: $bold;
        }
      }
    }
    &:hover {
      img {
        @include transform(scale(1.2));
        @include transition(all 1s ease-in-out);
      }
      .work-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255, .9);
        @include transform(scale(1.0));
      }
    }
  }
}

.load-more {
  display: inline-block;
  position: relative;
  text-align: center;
	margin-top: 40px;
  a {
    background: $body-color;
    padding: 0.75rem 1.5rem;
    color: $white;
    &:hover {
      background: $black;
      text-decoration: none;
    }
  }
}

// Blog grids

.blog-grid--2cols {
	.post {
		width: calc(50% - 15px);
	}
}
.blog-grid--3cols {
	.post {
		width: calc(33.33% - 20px);
	}
}
.blog-grid--4cols {
	.post {
		width: calc(25% - 22.5px);
	}
}

[class*='works-grid'] {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.works-filter {
	margin-bottom:40px;
	.btn-primary:focus, .btn-primary.focus {
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}
