// Hero

#hero.hero-style-4 {
  position: relative;
  overflow: hidden;
  .hero-background {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}

#hero.hero-style-2 {
  position: relative;
  overflow: hidden;
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .circle-1 {
    z-index: 5;
    position: absolute;
    top: 60%;
    left: 40%;
    width: 60px;
  }
  .circle-2 {
    z-index: 5;
    position: absolute;
    top: 65%;
    left: 45%;
    width: 90px;
  }
  .circle-3 {
    z-index: 5;
    position: absolute;
    top: 52%;
    right: 12%;
    width: 70px;
    opacity: .3;
  }
  .hero-star {
    z-index: 5;
    position: absolute;
    top: 45%;
    right: 8%;
    width: 50px;
  }
  .hero-dot {
    z-index: 5;
    position: absolute;
    top: 22%;
    left: 48%;
    width: 40px;
    opacity: .3;
  }
}

#hero .card {
  border: none;
  padding: 10px;
}

#hero.hero-style-1 {
  position: relative;
  overflow: hidden;
  .planet-1 {
    left: 300px;
    bottom: 200px;
    width: 50px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .planet-2 {
    left: 200px;
    top: 150px;
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .planet-3 {
    left: 300px;
    top: 180px;
    position: absolute;
    z-index: 100;
  }
  .planet-4 {
    right: 100px;
    bottom: 100px;
    position: absolute;
    z-index: 100;
  }
  .planet-5 {
    right: 250px;
    top: 200px;
    position: absolute;
    z-index: 99;
  }
  .hero-splash-faded {
    left: -100px;
    bottom: 0px;
    position: absolute;
  }
  .hero-splash {
    top: -230px;
    left: 0px;
    position: absolute;
    img {
      position: absolute;
      top: 100px;
      left: 100px;
      z-index: 200;
    }
    svg {
      z-index: 1;
      .hero-svg {
        fill: linear-gradient(75deg, $primary 0%, $secondary 100%);
      }
    }
  }
}

#hero.hero-style-2 {
  position: relative;
  overflow: hidden;
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .circle-1 {
    z-index: 5;
    position: absolute;
    top: 60%;
    left: 40%;
    width: 60px;
  }
  .circle-2 {
    z-index: 5;
    position: absolute;
    top: 65%;
    left: 45%;
    width: 90px;
  }
  .circle-3 {
    z-index: 5;
    position: absolute;
    top: 52%;
    right: 12%;
    width: 70px;
    opacity: .3;
  }
  .hero-star {
    z-index: 5;
    position: absolute;
    top: 45%;
    right: 8%;
    width: 50px;
  }
  .hero-dot {
    z-index: 5;
    position: absolute;
    top: 22%;
    left: 48%;
    width: 40px;
    opacity: .3;
  }
}

#hero .card {
  border: none;
  padding: 10px;
}

#hero.hero-style-3 {
  position: relative;
  overflow: hidden;
  .cube-2 {
    left: 25%;
    bottom: 150px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .cube-1 {
    left: 5%;
    top: 150px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
}

.services-cube {
  right: 5%;
  top: 70px;
  height: auto;
  position: absolute;
  z-index: 100;
}

#customers {
  position: relative;
  overflow: hidden;
  .figure-1 {
    left: 20%;
    top: 40%;
    width: 85px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-2 {
    left: 10%;
    top: 65%;
    width: 60px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-3 {
    left: 20%;
    top: 85%;
    width: 70px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-4 {
    right: 20%;
    top: 40%;
    width: 50px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-5 {
    right: 10%;
    top: 65%;
    width: 90px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-6 {
    right: 20%;
    top: 85%;
    width: 80px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
}

#footer {
  position: relative;
  overflow: hidden;
  .figure-2 {
    left: 20%;
    bottom: 0;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-1 {
    right: 20%;
    bottom: 0;
    height: auto;
    position: absolute;
    z-index: 100;
  }
}

#quote {
  position: relative;
  overflow: hidden;
  .figure-2 {
    right: 7%;
    bottom: 5%;
    height: auto;
    position: absolute;
    z-index: 100;
  }
  .figure-1 {
    left: 7%;
    top: 0%;
    width: 200px;
    height: auto;
    position: absolute;
    z-index: 100;
  }
}
