// Media

.media {
	border-radius: $curved;
	margin-bottom: 30px;
	padding: 20px 30px;
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.65rem;
		margin: 10px 0 0 0;
	}
	p {
		margin: 10px 0;
	}
	img.service-image {
		max-width: 90px;
	}
}
