// Paginations

.pagination {
	text-align: center;
	padding-left: 30px;
}

.page-item .page-link {
  width: 45px;
	height: 45px;
	line-height: 35px;
  margin: 4px;
  border: none;
  border-radius: $circle;
  color: $dark;
  background-color: $white;
  border: 1px solid $grey;
}

.page-item.active .page-link {
  z-index: 1;
  border: none;
  border-radius: $circle;
  color: $white;
  font-size: $body-size;
  background: $primary;
}

.page-item .page-link:hover {
  color: $white;
  font-size: $body-size;
  background: $primary;
  border: 1px solid $primary;
}

.pagination .page-item:last-child .page-link,
.pagination .page-item:first-child .page-link {
  border-radius: $circle;
}
