// Spacings

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 10px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-200 {
	margin-bottom: 200px;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-120 {
  padding-top: 120px !important;
}

.pt-240 {
  padding-top: 240px !important;
}

.pt-320 {
  padding-top: 320px !important;
}

.pt-400 {
  padding-top: 400px !important;
}

.pt-180 {
  padding-top: 180px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-120 {
  padding-bottom: 120px !important;
}

.pb-180 {
  padding-bottom: 180px !important;
}

.pb-240 {
  padding-bottom: 240px !important;
}

.pb-400 {
  padding-bottom: 400px !important;
}
