// Custom Grid

.team-member {
	display: block;
	text-align: center;
	background: $white;
	border: $white 1px solid;
  border-radius: $curved;
  box-shadow: $shadow;
	padding: 40px;
	margin-bottom: 30px;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    box-shadow: $shadow-hover;
    @include transition(all 0.4s ease-in-out);
  }
	.member-name {
		margin: 1rem 0 0.5rem 0;
	}
	.member-social {
		margin-top: 2rem;
		.btn.btn-circle {
	    border-radius: 100% !important;
	    letter-spacing: 0 !important;
	    font-size: 0.8rem;
	    width: 35px;
	    height: 35px;
	    line-height: 23px;
	    margin-right: 5px;
		}
	}
}

.team-member-style-2 {
	display: block;
	text-align: center;
	background: $primary;
	border: $primary 1px solid;
  border-radius: $curved;
  box-shadow: $shadow;
	padding: 40px;
	margin-bottom: 30px;
	color: $white;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    box-shadow: $shadow-hover;
    @include transition(all 0.4s ease-in-out);
  }
	.member-name {
		margin: 1rem 0 0.5rem 0;
		color: $white;
	}
	.member-social {
		margin-top: 2rem;
		.btn.btn-circle {
	    border-radius: 100% !important;
	    letter-spacing: 0 !important;
	    font-size: 0.8rem;
	    width: 35px;
	    height: 35px;
	    line-height: 23px;
	    margin-right: 5px;
		}
	}
}

.team-member-style-3 {
	display: block;
	text-align: center;
	background: $dark;
	border: none;
  border-radius: $curved;
  box-shadow: $shadow;
	padding: 40px;
	margin-bottom: 0px;
	color: $white;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    box-shadow: $shadow-hover;
    @include transition(all 0.4s ease-in-out);
  }
	.member-name {
		margin: 1rem 0 0.5rem 0;
		color: $white;
	}
	.member-social {
		margin-top: 2rem;
		.btn.btn-circle {
	    border-radius: 100% !important;
	    letter-spacing: 0 !important;
	    font-size: 0.8rem;
	    width: 35px;
	    height: 35px;
	    line-height: 23px;
	    margin-right: 5px;
		}
	}
}
