// Testimonials

.owl-testimonials {
  .testimonial {
    background: $white;
    border-radius: $curved;
    padding: 80px 60px 40px 60px;
    box-shadow: $shadow;
    @include transition(all 0.4s ease-in-out);
    margin: 40px 15px;
    text-align: center;
    &:hover {
      box-shadow: $shadow-hover;
      @include transition(all 0.4s ease-in-out);
    }
    img.quote-image {
      position: absolute;
      left: calc(50% - 40px);
      top: 0;
      width: 80px;
      @include transition(all 0.4s ease-in-out);
    }
    .quote-message {
    	color: $dark;
      font-size: 1.2rem;
    	margin: 0 0 20px 0;
    	display: block;
    }
    .quote-info {
    	display:block;
    }
    .quote-author{
    	color: $heading-color;
    	display:block;
    	margin-bottom:10px;
    }
    .quote-job {
    	font-size: $body-size;
    }
    &.testimonial-style-2 {
      background: $gradient;
      color: $white;
      .quote-author, .quote-message {
      	color: $white;
      }
    }
  }
}

.owl-testimonials-style-2 {
  .testimonial {
    margin: 40px 15px;
    text-align: center;
    img.quote-image {
      position: relative;
      left: calc(50% - 100px);
      width: 200px;
      @include transition(all 0.4s ease-in-out);
    }
    .quote-message {
    	color: $dark;
      font-size: 1.4rem;
    	margin: 40px 0 20px 0;
    	display: block;
    }
    .quote-info {
    	display:block;
    }
    .quote-author{
    	color: $heading-color;
    	display:block;
    	margin-bottom:10px;
    }
    .quote-job {
    	font-size: $body-size;
    }
    &.testimonial-style-2 {
      background: $gradient;
      color: $white;
      .quote-author, .quote-message {
      	color: $white;
      }
    }
  }
}
