// Video Presentation

.video-presentation {
	background-image: url(../images/index-2/tablet.png);
	background-repeat: no-repeat;
	width: 720px;
	height: 490px;
	margin: 60px auto -370px auto;
	.video-btn {
		top: 38%;
		position: absolute;
		left: 46%;
	}
}
