@import 'extras';
@import 'variables-app';
@import 'bootstrap/bootstrap';
@import 'mixins';
@import 'typography';
@import 'buttons';
@import 'cards';
@import 'alerts';
@import 'accordions';
@import 'media';
@import 'widgets';
@import 'hero';
@import 'video';
@import 'services';
@import 'grid';
@import 'teams';
@import 'counters';
@import 'testimonials';
@import 'blog-cards';
@import 'navigation';
@import 'backgrounds';
@import 'assets';
@import 'spacings';
@import 'brands';
@import 'blogs';
@import 'forms';
@import 'paginations';
@import 'breadcrumbs';
@import 'responsive';
@import 'aos/aos';

/*
 * Basic Structure
*/

body {
  font-family: $body-family;
  font-weight: $normal;
  font-size: $body-size;
  line-height: 1.9;
  color: $body-color;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  margin: 0;
	padding: 0;
	height: 100vh;
}

section {
  padding: 120px 0;
	position: relative;
}

.section-80 section {
  padding: 80px 0;
	position: relative;
}

/* Footer */

footer {
  .blockquote-footer {
  	font-size: 16px;
  	margin-top: 15px;
  	color: $body-color;
  }
  p {
    color: $body-color;
  }
  ul a {
    color: $body-color;
  }
  .copyright {
    display: block;
    position: relative;
    margin: 50px 0 0 0;
    z-index: 51;
    text-align: center;
    color: $heading-color;
  }
}
